

SUBSCRIPTION="..."

RESOURCE_GROUP="detonator-rg"
LOCATION="Switzerland North"

STORAGE_ACCOUNT="detonator1"
AIB_IDENTITY="detonator-image-builder-identity"

AIB_IMAGE_TEMPLATE="detonator-image-template"
AIB_DISTRIBUTE_IMAGE="rededr-image"  # image_template.json distribute.imageId

AIB_LOGS="detonatorlogs"
