live_rededr:
  connector: Live
  comment: win10 defender rededr
  edr_collector: Defender
  password: secret
  port: 80
  data:
    ip: 192.168.1.1

new_defender:
  connector: NewAzure
  comment: New Azure Win11 Defender
  edr_collector: Defender
  data:
    image_reference: /subscriptions/<subscription>/resourceGroups/detonator-rg/providers/Microsoft.Compute/galleries/detonator_gallery/images/detonator-vm-def
    admin_username: admin 
    admin_password: password
