<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detonator - {% block title %}{% endblock %}</title>
    <script src="static/htmx.js"></script>
    <link href="static/tailwind.min.css" rel="stylesheet">
    <style>

    </style>
</head>
<body class="bg-gray-100 min-h-screen">
    <nav class="bg-blue-600 text-white p-4">
    <div class="container mx-auto flex items-center">
        <h1 class="text-xl font-bold mr-8">Detonator</h1>
        <div class="flex space-x-2">
            <a href="/" class="hover:underline px-2 py-1">Home</a>
            <a href="/files" class="hover:underline px-2 py-1">Files</a>
            <a href="/scans" class="hover:underline px-2 py-1">Scans</a>
            <a href="/vms" class="hover:underline px-2 py-1">VMs</a>
        </div>
    </div>
    </nav>

    <main class="container mx-auto mt-8 p-4">
        {% block content %}{% endblock %}
    </main>

</body>
</html>
